
  :root {
    --bg-color: #fef6ed;
    --font-color: #222;
    --button-color: #1C567D;
    --the-link: #1C567D;
    --side-nav-bg: #1C567D;
    --side-nav-links: #fef6ed;
    --toggle-button: #7fbee9;
    --dark-light-toggle: rgb(57, 57, 57);
    --button-text: #efefef;
    --button-color: #1C567D;
    --dingtea-color:#AD5A00;
    --chatime-color: #4f1a6c;
    --quickly-color: #a83e00;
    --yaya-color: #247028;
    --sharetea-color: #a83000;
    --flip-card-color:#1C567D;
    --logo-image: grayscale(100%);
    --hover-color: #9e6429;
    --button-hover-color: #9e6429;
    --active-background: #1C567D;
    --active-text: #FFC342;
    --sidenav-hover: #FFC342;
  }
  
  [data-theme="dark"] {
    --bg-color: rgb(6, 6, 6);
    --font-color: #efefef;
    --side-nav-bg: #b04f00;
    --the-link: #e9ab00;
    --side-nav-links: #fef6ed;
    --toggle-button: #7fbee9;
    --dark-light-toggle: rgb(57, 57, 57);
    --button-text: #141414;
    --button-color: #F79636;
    --dingtea-color:#ff982a;
    --chatime-color: #d07bfe;
    --quickly-color: #ff7843;
    --yaya-color: #51bd56;
    --sharetea-color: #ff9369;
    --flip-card-color: #b35f0b;
    --logo-image: invert(100%);
    --hover-color: white;
    --button-hover-color: #7fbee9;
    --active-background: #e9ab00;
    --active-text: black;
    --sidenav-hover: #222;
  }
  img.bobaflow_logo_large {
    filter: var(--logo-image);
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-color);
    color: var(--font-color);
  }

  /* TOGGLE  */
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -20px;

  }
  
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: absolute;
    width: 60px;
    text-align: center;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #fec150;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider svg {
    color: #222;
    position: absolute;
    transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
    pointer-events: none;
  }
  
  .feather-moon {
    opacity: 0;
    left: 9px;
    bottom: 9px;
    transform: translateX(4px);
  }
  
  .feather-sun {
    opacity: 1;
    right: 10px;
    bottom: 9px;
    transform: translateX(0px);
  }
  
  input:checked + .slider .feather-moon {
    opacity: 1;
    transform: translateX(0);
  }
  
  input:checked + .slider .feather-sun {
    opacity: 0;
    transform: translateX(-4px);
  }

  label[for="the_checkbox"]{
    color:transparent;
   }


  /* mobile view */
  body {
    margin: 50px;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -45px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    border: 2px dotted #9e6429;
    border-radius: 5px;
    color:#1C567D;
}

a.skip:focus {
    top:15px;
    left:10px;
}

a {
    color: var(--the-link);
    font-weight: 600;
    text-decoration: none;
}


/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--side-nav-bg);
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.nav_blue {
    background-color: black;
}

/* The navigation menu links */
.sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--side-nav-links);
    display: block;
    transition: 0.3s;
}

.sidenav .sidenav-link{
    font-weight: 800;
    color: var(--side-nav-links);
    background-color: var(--side-nav-bg);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--sidenav-hover);
}

/* sidenav active menu */
.sidenav a.active {
    color: var(--side-nav-links);
    text-decoration: underline;
    text-underline-position: under;
    text-transform: uppercase;
    font-weight: bold;
}

span.menu {
    color: var(--font-color);
    font-size: 1.75rem;
    position: absolute;
    cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 4rem;
    margin-left: 50px;
    background-color: var(--side-nav-bg);

    
}

img.bobaflow_logo_large {
    width:40%;
    text-align: center;
}

.large_nav_header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.nav_item {
  display: none;
}

.the_logo {
    display: flex;
    flex-direction: row;
}

section.logo_center {
    text-align: center;
}

img.bobaflow_logo {
    width: 50%;
    text-align: center;
}

/* header text */
h1 {
    padding-top: 40px;
    font-size: 2.25rem;
    font-weight: 800;
    padding-bottom: 5px;
}

h2 {
    font-size: 1.9rem;
    font-weight: 800;
    padding-bottom: 10px;
}

h3 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

p, p.boba_subtext, p.bobastore_text, ul.top3 > li {   
    font-size: 1.2rem;
    line-height: 1.8rem;
}

img {
    border-radius: 10px;
}


/* about me and home  */
p.advisory, p.no-promo{
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

p.advisory{
    font-style: italic;
}

p.no-promo {
  margin-top: 2rem;
}

.home_emily {
    padding-bottom: 2rem;
}
.home_emily2 {
    padding-top: 1rem;
    padding-bottom: 2rem;;
}
.contact_emily {
    padding-bottom: 40px;
    padding-top: 40px;
}


/* ann arbor & nyc specific */
p.boba_subtext {
    margin-bottom: 20px;
}

p.bobastore_text {
    margin-bottom: 20px;
}

.more_descrip {
    margin-bottom: 4rem;
}

.top3 {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin-bottom: 20px;
 }

 .top3 li {
    padding-left: 1rem;
    text-indent: -0.75rem;
}

.top3 li:before {
    content: "🧋 "
}

.fa-star-o,
.checked {
    color: orange;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  background-color: var(--button-color);
  border: none;
  color: var(--button-text);
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  padding: .9rem 1.4rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* GRID */
.wrapper, .nyc_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  justify-content: center; 
}

.chatime_purple, .dingtea_slogan, .slogan_lightbold, 
.bubbletea_store_quickly, .bubbletea_store_yaya {
  font-weight: 700;
}

.dingtea_slogan {
  color: var(--dingtea-color);
}
.chatime_purple{
  color: var(--chatime-color);
}

.bubbletea_store_quickly, a.bubbletea_store_quickly:link, a.bubbletea_store_quickly:visited {
  color: var(--quickly-color);
}

.bubbletea_store_yaya, a.bubbletea_store_yaya:link, a.bubbletea_store_yaya:visited {
  color: var(--yaya-color)
}
.bobateahouse_img, .chatime_img, .coco_img, .dingtea_img,
.quickly_img, .sharetea_img, .sweeting_img, .teaninja_img, .unitea_img {
  grid-column: 1/-1;
  margin-bottom: 20px;
  overflow: hidden;
}

.bobateahouse_title, .chatime_title, .coco_title, .dingtea_title,
.quickly_title, .sharetea_title, .sweeting_title, .teaninja_title, .unitea_title {
  grid-column: 1 / -1;
}

.bubbleology_img, .gongcha_img, .kungfutea_img, .tigersugar_img,
.vivi_img, .yaya_img {
  grid-column: 1/-1;
  margin-bottom: 20px;
  overflow: hidden;
}

.bubbleology_img, .gongcha_img, .kungfutea_img, .tigersugar_img,
.vivi_img, .yaya_img {
  grid-column: 1 / -1;
}

/* about me */
a.bubbletea_store_sharetea:link, a.bubbletea_store_sharetea:visited{
  color: var(--sharetea-color);
  font-weight: 800;
}

a.bubbletea_store_yaya:link, a.bubbletea_store_yaya:visited{
  font-weight: 800;
}

a.bubbletea_store_quickly:link, a.bubbletea_store_quickly:visited{
  font-weight: 800;
}

a.aboutme_umich:hover{
  color: #e7820f;

}
.about_image {
  padding-top: 10px;
  padding-bottom: 20px;
}

.city-image {
  padding-top: 1rem;
  padding-bottom:  2rem;;
}

p.padtop_advisory {
  font-size: .9rem;
  font-style: italic;
  line-height: 1.2rem;
  font-weight: 300;
  padding-top: 50px;
}

h2.aboutme-h2 {
  margin-top:4rem;
}

/* flipcard */
.flip-grid {
  display: grid;
  margin-bottom: 1rem;
  margin-top: 1rem;
  grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.flip-card h3 {
  font-size: 1rem;
}

.flipcard:focus {
  outline: none;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: var(--flip-card-color);
}

.flip-card-front > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row-start: 1;
  grid-row-end: 1;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--flip-card-color);
  color: white;
  transform: rotateY(180deg);
}

/* video */
.vimeo_video, .google_map, .cantomando-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}
.vimeo_video iframe, .google_map iframe, .cantomando-video iframe{
    border-radius: 10px;
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}

/* .google_map {
  margin-bottom: 2rem;
} */

.video-citation {
  text-align: right;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 1rem;
}

/* footer */
footer {
  padding-top: 15vh;
  text-align: center;
  
}

/* Style inputs with type="text", select elements and textareas */
input, select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Montserrat', sans-serif;
}

textarea {
  height: 28vh;
}

input[type=submit] {
  background-color: #1C567D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
  cursor: pointer;
  
}
 #subject {
  height: 20rem;
}

::placeholder, select {
  font-family: 'Montserrat', sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #9e6429;
}

input[type="checkbox"] {
  display: inline;
  width: inherit;
  margin: 0 1rem;
}

#contact_button {
    padding-top: 5vh;
}

/* parallax */
h1.contact-title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/city.jpg);
  background-attachment: fixed;     
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;  
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px #1C567D;
  height: 40vh;
  background-color: #1C567D;

  border-radius: 5px;
}

/* animation - homepage*/

@-webkit-keyframes pic-ani{
  0%  {
    top: 0px;
    left: 20px;
  }

  50%  {
    top: 45px; 
    left: 0px;
  }
  100% {top: 0px;
    left: 0px;
  }
} 

@keyframes pic-ani{
  0%  {
    top: 0px;
    left: 20px;
  }
  
  50%  {
    top: 45px; 
    left: 0px;
  }
  100% {top: 0px;
    left: 0px;
  }
} 

#pic-ani{
  position: relative;
  animation: pic-ani 6s;
}

.contact_box {
  padding-top: 3rem;
}
#contact_head {
  padding-top: 3rem

}

.vimeo_video_text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer{
  margin-bottom: 2rem;
}




  @media screen and (min-width: 750px){

    p, p.boba_subtext, p.bobastore_text, ul.top3 > li {   
      font-size: 1.1rem;
      line-height: 1.6rem;
  }

    a:hover {
      color: var(--hover-color);
      text-decoration: underline;
      -webkit-text-decoration-style: dotted;
              text-decoration-style: dotted;
    }

    #mySidenav {
      display: none;
    }
    
.nav_item {
  display: inline;
}

     a.skip {
      top: -100px;
  }
  
    a.skip:focus {
        top:-40px;
        left:0px;
    }
    button {
        font-size: 1rem;
        font-weight: 800;
    }
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
        
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
    }
    .button:hover {
      background-color:var(--button-hover-color);
    }

    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }

    .navbar_logo{
        display: block;
        margin-bottom: auto;
        margin-top: auto;
        width: 20%;
    }
 
    .links_and_toggle {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }

    .theme-switch-wrapper {
      margin-top:-28px;
      margin-left:-10px;
      margin-bottom: 10px;
    }

    img.bobaflow_logo_large{
        display: inline-block;
    }
    
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        position: sticky;
        z-index: 9999;
    }

    nav li{
        display:inline;
        padding-bottom: 10px;
      }
    
    .nav_links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        text-align: right;
        margin-left: 5px;
    }
    
    nav{
        display: inline;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }

    
    section.logo_center {
        display: none;
    }
    span.menu {
      display: none;
    }

  .navbar_logo{
      display: block;
      margin-bottom: auto;
      margin-top: auto;
      width: 20%;
  }

  .bobastore_descrip {
    margin-bottom: 0;
}

img.bobaflow_logo_large{
    width: 100%;
    text-align: left;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    position: sticky;
    z-index: 9999;
}

nav li{
    display:inline;
    padding-bottom: 10px;
  }

.nav_item{
    padding: 6px;
    font-size: .85rem;

}

a:link, a:visited {
  font-weight: 600;
}

a::selection {
  outline: none;
  border: none;
}

nav .active {
  color: var(--active-text);
  font-weight: 800;
  text-decoration: underline 3px;
  text-transform: uppercase;
  background-color: var(--active-background);
  padding: 10px;
}
    
iframe{
  width: 560px;
  height: 315px;
}

p.advisory {
  font-size: 1.1rem;
  line-height: 1.5rem;
}


.wrapper {
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(18,auto)
}

.nyc_wrapper {
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12,auto)
}

.bobateahouse_title, .chatime_title, .coco_title, .dingtea_title, .quickly_title, .sharetea_title, .sweeting_title, .teaninja_title, .unitea_title {
  grid-column: 3/ span 5;
  /* padding-bottom: 5vh; */
}

.bobateahouse_img, .chatime_img, .coco_img, .dingtea_img, .quickly_img, .sharetea_img, .sweeting_img, .teaninja_img, .unitea_img{
  grid-column: 1 / span 2;
  overflow: hidden;
}

/* .bubbleology_title, .gongcha_title, .kungfutea_title, .tigersugar_title, .vivi_title, .yaya_title {
  grid-column: 3/ span 5;
} */
  
  .descrip_location {
  grid-column: 3/ span 5;
}

.bubbleology_img, .gongcha_img, .kungfutea_img, .tigersugar_img, .vivi_img, .yaya_img{
  grid-column: 1 / span 2;
  overflow: hidden;
}

/* .bubbleology_img, .gongcha_img, .kungfutea_img, .tigersugar_img, .vivi_img, .yaya_img{ */
  .more_descrip {
  grid-column: 3 / span 5;
  overflow: hidden;
  margin-bottom: 4rem;
}

#about_head {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.aboutme {
  grid-column: 2/ span 1;
}

.city-image {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.about_image {
  padding-top: 0;
}

#home_head {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
#home_head2 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-top: 2rem;
      padding-bottom: 2rem;
  }

.home_emily {
  grid-column: 1/ span 1;
  grid-row: 1/-1;
  padding-bottom: 0rem;
}
.home_text {
  grid-column: 2/ span 1;
}

.home_emily, .home_emily2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home_emily img {
  padding-top: 0;
  width: auto; /* width of container */
  height: 25rem; /* height of container */
  object-fit: cover;
  object-position: 40% 0;
}

.home_emily2 img{
  padding-top: 0;
  width: auto; /* width of container */
  height: 28rem; /* height of container */
  object-fit: cover;
  object-position: 60% 0;
} 

.flip-grid{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.flip-card h3 {
  font-size: .85rem;
}

.contact_box {
  padding-top: 2rem;
}
#contact_head {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-top: 5rem;
  padding-bottom: 2rem;
  }

.contact_emily {
  padding: 0;
}
  .container {
      padding: 0;
  }

footer{
  margin-top: -2rem;
  margin-bottom: 4rem;
}

textarea {
  height:20vh;
}
}




/* larger screen view */
@media screen and (min-width: 1024px){
  body{
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 3rem;
  }
  .nav_item {
      padding: 16px;
      font-size: 1.2rem;
  }

  .wrapper {
    grid-template-rows: repeat(9,auto);
    grid-gap: 3rem;
  }
  .nyc_wrapper{
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,auto);
    grid-gap: 3rem;
  }

  .descrip_location {
    grid-column: 3/ span 4;
    padding-bottom: 6rem;
  }

  .more_descrip {
    grid-column: 7/ span 2;
  }

  #contact_head {
    grid-template-columns: repeat(7,1fr);
  }

  .contact_emily {
    grid-column: 1/ span 3;
  }
  .email_form {
    grid-column: 4 / span 4;
  }
  textarea {
    height: 30vh;
  }

  #aboutme-grid {
    grid-auto-flow: dense;
  }

  .spread-culture, #aboutme-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 2rem;

  }

  #aboutme-grid.reverse> .city-image{
    grid-column: 4 / span 4;
  }

  #aboutme-grid.reverse > .myfavorites-text{
    grid-column: 1 / span 3;
  }

  .spread-culture-text {
    grid-column: 1/ span 3;
  }

  .cantomando-text {
    grid-column: 4/ span 4;
    
  }

  .flip-card h3 {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  p, p.boba_subtext, p.bobastore_text, ul.top3 > li {   
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  
}

@media screen and (min-width: 1400px){
  body{
    width:1300px;
    margin: 0 auto;
    margin-top: 3rem;
}
textarea {
  height: 45vh;
}

.flip-card h3 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

p, p.boba_subtext, p.bobastore_text, ul.top3 > li {   
  font-size: 1.2rem;
  line-height: 2rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

}

@media screen and (prefers-reduced-motion: reduce){
/*Turn off scroll*/
html{
  scroll-behavior: auto; /* Removes scroll animation */
}

/*Turn off transition*/
.skip a{
  -webkit-transition: initial; /* sets to default setting */
  transition: initial; /* sets to default setting */
}

/*Turn off parallax*/
h1.contact-title{
  background-attachment: initial;
}
  #pic-ani{
      animation: none;
}
button, .button span, .button span:after {
  -webkit-transition: none;
  transition: none;
}
.button:hover {
  transition: none;
  -webkit-transition: none;
}
.flip-card-inner, .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner, .flip-card:active .flip-card-inner {
  transition: none;
}
.slider, .slider:before, .slider svg {
  transition: none;
}

.sidenav a, .sidenav  {
  transition: none;
}

}